@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-poppins);
}
